<%- include ../layouts/header.ejs %>
<p><%=message%></p>
<form method="POST">
  <p>Zalogowano: <span><%= username %></span></p>
  <p><label>Login</label><input type="text" name="username"></p>
  <p><label>Hasło</label><input type="password" name="password"></p>
  <p><input type="submit" value="Utwórz"></p>
</form>

<%- include ../layouts/footer.ejs %>