<%- include ./layouts/header.ejs %>
  <div class="not-found-wrapper">
      <p class="not-found">Nic tu nie ma...</p>
      <a class="not-found-link" href="/api/users/login">Wróć do strony głownej</a>
  </div>


  <%- include ./layouts/footer.ejs %>